// * 館別選單列字的樣式(橘色)
.list-group-item.active{ 
  border-radius: 50rem;
  background-color: #fff;
  border-color: #fff; // * build 後的樣式調整(勿刪)
  a{
    color: $primary !important;
  }
}

.list-group-flush > .list-group-item {
  border-color: #fff; // * build 後的樣式調整(勿刪)
  .list-group-item-link{
    border-bottom: 1px dotted $gray-500;
  }
}

.menu-m-list-group{
  .list-group-item.active{
    border-radius: 0;
  }
}

.header-list-group {
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    display: none;
  }
  .list-group-item {
    border-color: #fff;
    padding-right: 0;
    padding-left: 0;
    border-bottom: 2px solid $white;
    &:hover {
      border-bottom: 2px solid $primary;
      .listIcon {
        display: none;
      }
      .listIconHover {
        display: inline;
      }
      a {
        color: $primary !important;
      }
    }
    img {
      width: 24px;
      height: 24px;
    }
    svg {
      width: 24px;
      height: 24px;
      &:hover{
        path{
          stroke: $primary;
        }
      }
    }
    a {
      display: block;
      width: 100%;
      text-align: center;
      border-right: 1px solid $light;
    }
    .listIconHover {
      display: none;
    }
  }
}

.footer-list-group {
  .list-group-item {
    border-color: $primary; // * build 後的樣式調整(勿刪)
    border-right: 1px solid $white;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0;
    &:last-child {
      border-right: none;
    }
    &:first-child {
      border-top: none;
    }
  }
  a {
    display: block;
    line-height: 1;
    width: 100%;
    text-align: center;
  }
}

