/* buttons */
.bg-ygg{
	background-color: #C41257;
}
.activityNav{
  .nav-item{
    .nav-link{
      border-right: 1px solid #fff;
      line-height: 1;
      padding: 0 16px;
      @media (max-width: 576px) {
        border-right: none;
        padding: 8px 0;
      }
    }
    img{
      width: 24px;
      height: 24px;
      @media (max-width: 576px) {
        margin: 8px 0;
      }
    }
  }
}