.body {
  overflow: hidden;
}

// 怡鈞客製container

.container {
  @media (max-width:768px) {
    padding-right: var(--bs-gutter-x, 0.2rem) !important;
    padding-left: var(--bs-gutter-x, 0.2rem) !important;
  }
}

input[type="file"] {
  display: none;
}

label[for="upImg"] {
  border: 0px ;
  cursor: pointer;
  min-width: 14em;
  min-height: 10em;
  &:hover {
    // background-color: #141414;
    opacity: 0.66;
  }
}


.title {
  color: #12753e;
  font-size: 1.3em;
  font-weight: bold;
  @media (max-width:414px) {
    font-size: 1.2em;
  }
}

.dtl-event {
  background-color: #e66e8c;
  color: #ffffff;
  font-size: 1.5em;
}

.dtl-notes {
  color: #000000;
}

.dtl-details {
  color: #824A25;
  font-size: 1.3em;
  font-weight: bold;
}

.break {
  word-break: break-all;
}

.text-justify {
  text-align: justify;
}

.bg-top {
  background-image:url('https://yesgoimages.s3.ap-northeast-1.amazonaws.com/yesgoevent/chungYuanPuTuBizCard/KVbg_expand.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  text-align:center;
  overflow: hidden;
  height:687px;
}

.img-center {
  //最小尺寸
  min-width:1920px;
  //無限大尺寸
  max-width:none;
  //圖片原始高度
  height:687px;
  // 讓圖絕對置中(上下0)(左右置中子元素相對於父元素最左或最右)
  margin:0 -100%;
}

.font-scale {
  transform: scale(1,1.06);
}

.border-line {
  border-color: #12753e;
  border-style: solid;
  border-width:  0px 0px 3px 0px;
  @media (max-width:768px) {
    border-width:  0px 0px 2px 0px;
  }
}

.dropzone {
  width: auto;
  height: 400px;
  background-color: #FCFAF2;
  margin: 35px 0 35px 0;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #141414;
  @media (max-width:768px) {
    height: 200px;
  }
  @media (max-width:576px) {
    height: 200px;
    margin: 10px 0 10px 0;
  }
  @media (max-width:420px) {
    height: 180px;
  }
}

.limit-img {
  max-width: 450px;
  max-height: 385px;
  @media (max-width: 768px) {
    max-width: 320px;
    max-height: 180px;
  }
  @media (max-width: 576px) {
    max-width: 200px;
    max-height: 155px;
  }
  @media (max-width: 420px) {
    max-width: 185px;
  }
}

.bg-light-green {
  background-image:url('https://yesgoimages.s3.ap-northeast-1.amazonaws.com/yesgoevent/chungYuanPuTuBizCard/BG.jpg'),
                    url('https://yesgoimages.s3.ap-northeast-1.amazonaws.com/yesgoevent/chungYuanPuTuBizCard/BG_expand.jpg');
  background-size: cover;
  background-position: center top,center top;
  background-repeat: no-repeat,repeat;
  @media (max-width:768px) {
    background-image:url('https://yesgoimages.s3.ap-northeast-1.amazonaws.com/yesgoevent/chungYuanPuTuBizCard/BG_mb.jpg'),
                    url('https://yesgoimages.s3.ap-northeast-1.amazonaws.com/yesgoevent/chungYuanPuTuBizCard/BG_expand.jpg');
  }
}

.bg-light-yellow {
  background-image:url('https://yesgoimages.s3.ap-northeast-1.amazonaws.com/yesgoevent/chungYuanPuTuBizCard/BG_1_01.png'),
                    url('https://yesgoimages.s3.ap-northeast-1.amazonaws.com/yesgoevent/chungYuanPuTuBizCard/BG_1_02_cut.png'),
                    url('https://yesgoimages.s3.ap-northeast-1.amazonaws.com/yesgoevent/chungYuanPuTuBizCard/BG_1_02_cut.png'),
                    url('https://yesgoimages.s3.ap-northeast-1.amazonaws.com/yesgoevent/chungYuanPuTuBizCard/BG_1_03.png');
  background-size: contain;
  background-position: center top,center 15%,center 85%,center bottom;
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat;
  @media (max-width:1400px) {
    background-image:url('https://yesgoimages.s3.ap-northeast-1.amazonaws.com/yesgoevent/chungYuanPuTuBizCard/BG_1_01.png'),
    url('https://yesgoimages.s3.ap-northeast-1.amazonaws.com/yesgoevent/chungYuanPuTuBizCard/BG_1_02.png'),
    url('https://yesgoimages.s3.ap-northeast-1.amazonaws.com/yesgoevent/chungYuanPuTuBizCard/BG_1_02.png'),
    url('https://yesgoimages.s3.ap-northeast-1.amazonaws.com/yesgoevent/chungYuanPuTuBizCard/BG_1_03.png');
    background-position: center top,center 27%,center 73%,center bottom;
  }
  @media (max-width:1200px) {
    background-position: center top,center 29%,center 71%,center bottom;
  }
  @media (max-width:1196px) {
    background-position: center top,center 16%,center 84%,center bottom;
  }
  @media (max-width:1150px) {
    background-position: center top,center 18%,center 82%,center bottom;
  }
  @media (max-width:1100px) {
    background-position: center top,center 15%,center 85%,center bottom;
  }
  @media (max-width:992px) {
    background-position: center top,center 18%,center 82%,center bottom;
  }
  @media (max-width:980px) {
    background-position: center top,center 6%,center 94%,center bottom;
  }
  @media (max-width:960px) {
    background-position: center top,center 7%,center 93%,center bottom;
  }
  @media (max-width:940px) {
    background-position: center top,center 8%,center 92%,center bottom;
  }
  @media (max-width:800px) {
    background-position: center top,center 9%,center 91%,center bottom;
  }
  @media (max-width:768px) {
    background-image:url('https://yesgoimages.s3.ap-northeast-1.amazonaws.com/yesgoevent/chungYuanPuTuBizCard/BG_1_mb_01.png'),
                    url('https://yesgoimages.s3.ap-northeast-1.amazonaws.com/yesgoevent/chungYuanPuTuBizCard/BG_1_mb_02.png'),
                    url('https://yesgoimages.s3.ap-northeast-1.amazonaws.com/yesgoevent/chungYuanPuTuBizCard/BG_1_mb_02.png'),
                    url('https://yesgoimages.s3.ap-northeast-1.amazonaws.com/yesgoevent/chungYuanPuTuBizCard/BG_1_mb_03.png');
    background-position: center top,center 24%,center 78%,center bottom;
  }
  @media (max-width:720px) {
    background-position: center top,center 30%,center 70%,center bottom;
  }
  @media (max-width:576px) {
    background-position: center top,center 48%,center 46%,center bottom;
  }
  @media (max-width:550px) {
    background-position: center top,center 35%,center 65%,center bottom;
  }
  @media (max-width:520px) {
    background-position: center top,center 25%,center 75%,center bottom;
  }
  @media (max-width:470px) {
    background-position: center top,center 18%,center 82%,center bottom;
  }
  @media (max-width:446px) {
    background-position: center top,center 16%,center 84%,center bottom;
  }
  @media (max-width:414px) {
    background-position: center top,center 12%,center 88%,center bottom;
  }
  @media (max-width:390px) {
    background-position: center top,center 10%,center 90%,center bottom;
  }
  @media (max-width:350px) {
    background-position: center top,center 8%,center 92%,center bottom;
  }
  @media (max-width:320px) {
    background-position: center top,center 6%,center 94%,center bottom;
  }
  
}
.text-light-white {
  color: #FCFAF2 !important;
}
.bg-light-white {
  background-color: #FCFAF2 ;
}

// ol.dtl-notes {
//   @media (max-width:390px) {
//     padding-left: 1rem !important;
//   }
// }


.form {
  min-width: 26.75rem;
  margin: auto;
  // padding: 0 0.875rem;
  @media (max-width:768px) {
    min-width: 0;
  }
}

.form-check {
  // padding: 0 0.875rem;
  display: flex;
}



.form-group {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.875rem;
  background-color: #FCFAF2 ;
  padding: 0.5 rem;
  padding-left: 0;
  border: 1px solid #141414;
  @media (max-width:768px) {
    padding-top: 0.6rem !important;
    padding-bottom: 0.6rem !important;
  }
}

.form-label {
  // max-width: 4.375rem;
  min-width: 10rem;
  line-height: 1.5rem;
  text-align: start;
  border-right: 2px solid rgba(112, 112, 112, .5);
  color: #707070;
  margin-bottom: 0 !important;
  @media (max-width:768px) {
    min-width: 8rem;
  }
  @media (max-width:768px) {
    min-width: 8rem;
  }
  @media (max-width:576px) {
    min-width: 7rem;
  }
  @media (max-width:420px) {
    min-width: 4.5rem;
  }
}

.form-label-md {
  // max-width: 4.375rem;
  min-width: 10rem;
  line-height: 1.5rem;
  text-align: start;
  border-right: 2px solid rgba(112, 112, 112, .5);
  color: #707070;
  margin-bottom: 0 !important;
  @media (max-width:768px) {
    min-width: 8rem;
  }
  @media (max-width:768px) {
    min-width: 8rem;
  }
  @media (max-width:576px) {
    min-width: 7rem;
  }
  @media (max-width:420px) {
    min-width: 4rem;
  }
}

.form-label-sm {
  // max-width: 4.375rem;
  min-width: 10rem;
  line-height: 1.5rem;
  text-align: start;
  border-right: 2px solid rgba(112, 112, 112, .5);
  color: #707070;
  margin-bottom: 0 !important;
  @media (max-width:768px) {
    min-width: 8rem;
  }
  @media (max-width:768px) {
    min-width: 8rem;
  }
  @media (max-width:576px) {
    min-width: 7rem;
  }
  @media (max-width:420px) {
    min-width: 3rem;
  }
}

input[type="text"].input {
  width: 100%;
  border-color: transparent;
  &:focus {
    outline: none;
  }
  min-width: 15.5rem;
  background-color: #FCFAF2;
  @media (max-width:796px) {
    min-width: 0 ;
  }
  @media (max-width:420px) {
    min-width: 8.5rem;
  }
}

// 客製化checkbox
.check-input {
  width: 1.6em;
  height: 1.6em;
  background: #FCFAF2;
  border: 1px solid #141414;
  flex-shrink: 0;
}

input[type="checkbox"] {
  display: none;
    //隱藏checkbox
    &:checked + label {
      background: #12753e;
      position: relative;
      &:before {
        background-image: url("https://yesgoimages.s3.ap-northeast-1.amazonaws.com/yesgoevent/chungYuanPuTuBizCard/v.png");
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        width: 1.55em;
        height: 1.55em;
        content: "";
        background-position: 0% 70%;
        left: 0;
        position: absolute;
        bottom: 0;
      }
    }
}

.mb-font {
  font-weight: bold;
  @media (max-width:768px) {
    font-weight: 600;
    font-size: 0.9rem !important;
  }
}

.error-font {
  @media (max-width:420px) {
    font-size: 0.9rem !important;
  }
}

.text-deep {
  color: #e75301;
}

.link-line {
  color: #033DCD;
  text-decoration: underline;
  cursor: pointer;
}

.dropzone-words {
  color: #707070;
  font-weight: 600;
}


// ===驗證表單===

.is-invalid {
  border: 2px solid #dc3545 !important;
  background-image: none;
}
.invalid-feedback {
  color: #dc3545;
  // position: absolute;
  margin-top: 0px;
}

// 動畫位置
.loadingio-spinner-ellipsis-4hx2p6xfr9s {
  width: 200px;
  height: 150px;
  display: inline-block;
  overflow: hidden;
  position: fixed;
  left: 45.5%;
  top: 44%;
  @media (max-width: 1400px){
    left: 43.5%;
    top: 44%;
    }
  @media (max-width: 1200px){
    left: 42.0%;
    top: 44%;
    }
  @media (max-width: 992px){
    left: 40.5%;
    top: 44%;
    }
  @media (max-width: 768px){
    left: 37.5%;
        top:68%;
    }
  @media (max-width: 700px){
    left: 36.0%;
        top:68%;
    }
  @media (max-width: 576px){
    left: 33.5%;
        top:40%;
    }
  @media (max-width: 420px){
    left: 25.5%;
        top:40%;
    }
}

.ldio-2rhuifu0dvy div {
  @media (max-width: 576px){
      width: 25px;
      height: 25px;
    }
}

/* <transition name="fade">  */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.v-leave-from {
  opacity: 1;
}