// header
.space{
  background-color: #fff;
  height: 58px;
  @media (min-width: 576px) {
    height: 102px;
  }
  @media (min-width: 992px) {
    height: 133px;
  }
}
.announce{
  background-color: #fff;
  height: 89px;
  @media (min-width: 576px) {
    height: 133px;
  }
  @media (min-width: 992px) {
    height: 169px;
  }
}

.yesgoLogo {
  width: 150px;
  @include media-breakpoint-up(lg) {
    width: 300px;
  }
}

.collectBtn{
  margin-left: 8px;
  @include media-breakpoint-up(md) {
    margin-left: 0px;
  }
  @include media-breakpoint-up(xl) {
    margin-left: 8px;
  }
  @include media-breakpoint-up(xxl) {
    margin-left: 61px;
  }
}

.cartBtn {
  display: block;
  position: relative;
  margin-left: 8px;
  @include media-breakpoint-up(xl) {
    margin-left: 8px;
  }
  @include media-breakpoint-up(xxl) {
    margin-left: 24px;
  }
  img {
    width: 24px;
  }
  .cartNumber {
    width: 24px;
    height: 24px;
    background: $primary;
    text-align: center;
    color: $white;
    border-radius: 50%;
    padding: 1px;
    line-height: 1.5;
    position: absolute;
    top: -10px;
    right: -13px;
  }
}

.w-45{
  width: 45%;
}

.memberList{
  img{
    width: 24px;
    height: 24px;
  }
}

.searchBar{
  .btn{
    z-index: 5;
  }
  img{
    width: 20px;
    @include media-breakpoint-up(lg) {
      width: 24px;
    }
  }
  input {
    padding-top: 4px;
    padding-bottom: 4px;
    @include media-breakpoint-up(lg) {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
}

.breakline{
  height: 2px;
}

.menu-collapse{
  transition: all .6s ease;
  z-index: 6;
}

.menu-collapse.show:not{
  transition: all .6s ease;
}

.icons{
  z-index: 7;
  img{
    width: 50px;
    height: 50px;
    @include media-breakpoint-up(md) {
      width: 80px;
      height: 80px;
    }
    @include media-breakpoint-up(lg) {
      width: 97px;
      height: 97px;
    }
  }
}

.search-collapse{
  transition: all .6s;
  z-index: 5;
}


//登入
.modal-header {
  border-bottom: none;
}


#f {
  position: relative;
}

#eyeOpen,
#eyeClose, #reset {
  position: absolute;
  left: 93%;
  top: 20%;
  z-index: 2;
  opacity: 0.8;
  font-style: 20px;
  width: 5%;
}

.verifyBtn {
  img {
    width: 20x;
    height: 20px;
  }
}

.passwordImage {
  top: 5px;
  right: 5px;
  img {
    width: 24px;
  }
}

.form-control.form_password.is-invalid {
  background-image: none;
}

.register {
    &:hover{
      color: #F8412E!important;
  }
}

.mobileCategoryAccordion{
  .accordion-header{
    span{
      margin-right: -20px;
      border-bottom: 1px dotted #adb5bd;
    }
  }
}
//註冊

